# EXECUTABLES / BINARIES
*.exe
!Preprocessor_Util_Script.exe
*.out
*.app
*.dll
*.so

# BUILD DIRECTORIES
build/
bin/
obj/
out/

# C++ COMPILER FILES
*.o
*.obj
*.gch
*.pch

# PYTHON
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller
dist/
*.spec

# VS CODE
.vscode/

# OS JUNK
.DS_Store
Thumbs.db

# TEMP / TEST FILES
tempCodeRunnerFile.cpp
*.log
*.tmp

# GENERATED TEXT FILES
# *.txt